<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psychology.glowMentally">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ios_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Psychology"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".AboutTheAppActivity"
            android:label="@string/title_activity_about_the_app"
            android:theme="@style/Theme.Psychology.NoActionBar" />
        <activity android:name=".OnboardingUI.InitialVideoActivity" /> <!-- android:exported="true" -->
        <activity android:name=".OnboardingUI.InitialMessageActivity" /> <!-- android:exported="true" -->
        <activity android:name=".AccountUI.ContactUsActivity" /> <!-- android:exported="true" -->
        <activity android:name=".AccountUI.KnowMoreActivity" /> <!-- android:exported="true" -->
        <activity android:name=".AccountUI.EditAccountActivity" /> <!-- android:exported="true" -->
        <activity android:name=".StatsUI.PaStatsActivity" /> <!-- android:exported="true" -->
        <activity android:name=".StatsUI.MrStatsActivity" /> <!-- android:exported="true" -->
        <activity android:name=".StatsUI.ErtStatsActivity" /> <!-- android:exported="true" -->
        <activity android:name=".EntriesUI.PAEntryActivity" /> <!-- android:exported="true" -->
        <activity android:name=".EntriesUI.MREntryActivity" /> <!-- android:exported="true" -->
        <activity android:name=".EntriesUI.ERTEntryActivity" /> <!-- android:exported="true" -->
        <activity android:name=".MainActivity" /> <!-- android:exported="true" -->
        <activity android:name=".LoginUI.LoginMainActivity" /> <!-- android:exported="true" -->
        <activity android:name=".LoginUI.LoginOtpActivity" /> <!-- android:exported="true" -->
        <activity android:name=".LoginUI.LoginDetailsCollectionActivity" /> <!-- android:exported="true" -->
        <activity
            android:name=".OnboardingUI.SplashActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <receiver
            android:name=".Notification.AlarmReceiver"
            android:exported="true"
            tools:node="merge" /> <!-- <receiver -->
        <!-- android:name=".Notification.MRBroadcast" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="ALARM" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name=".Notification.ReminderBroadcast" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="ALARM" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>